
body {
  background: #ffeafb;
}
p {
  color: black;
  clear: left;
}
h1 {
  font-weight: bold;
  color: #ffbbf2
  
    
}

h2 {
  color: #ffbbf2
    
}

img{
  width: 400px;
  height: 450px;
  float: left;
}

a {
  clear: left;
}

a{ 
color: #ffbbf2
